<Center>
  <NavButton/>
  <BoxedText>{{country.country}}</BoxedText>
</Center>
<Center>
  <Row>
    <BoxedText>
      Number of Entries <br/>
      {{ country.participations.length }}
    </BoxedText>
    <BoxedText>
      Number of Medals<br/>
      {{totalMedals}}

    </BoxedText>
    <BoxedText>
      Number of athletes<br/>
      {{totalAthletes}}
    </BoxedText>
  </Row>
</Center>
<ChartContainer style="flex-shrink: 0; flex-grow: 1;">
  <ngx-charts-line-chart
    scheme="cool"
    [legend]="legend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [results]="data"
    >
  </ngx-charts-line-chart>
</ChartContainer>
