<Center>
  <Row>
    <NavButton/>
    <BoxedText
      background_color="#04838f"
      text_color="white"
      border_color="#04838f"
      >
      {{name}}
    </BoxedText>
  </Row>
</Center>
<Center>
  <Row>
    <BoxedText
      border_color="#04838f"
      >
      Number of Entries <br/>
      <b>{{numberOfParticipations}}</b>
    </BoxedText>
    <BoxedText
      border_color="#04838f"
      >
      Number of Medals<br/>
      <b>{{totalMedals}}</b>
    </BoxedText>
    <BoxedText
      border_color="#04838f"
      >
      Number of athletes<br/>
      <b>{{totalAthletes}}</b>
    </BoxedText>
  </Row>
</Center>
<Center
  (waResizeObserver)="onResize($event)"
>
<ngx-charts-line-chart
  scheme="cool"
  [legend]="legend"
  [showXAxisLabel]="showXAxisLabel"
  [xAxis]="xAxis"
  [xAxisTickFormatting]="format"
  [legendPosition]="legendPosition"
  [yAxis]="yAxis"
  [xAxisLabel]="xAxisLabel"
  [results]="data"
  [view]="view"
>
</ngx-charts-line-chart>
</Center>
