<Center>
  <BoxedText>Medals per Country</BoxedText>
</Center>
<Center>
  <Row>
    <BoxedText>
      Number of Olympic Games <br/>
      {{ (olympics$ | async)?.length }}
    </BoxedText>
    <BoxedText>
      Number of Countries <br/>
      {{ (olympics$ | async)?.length }}
    </BoxedText>
  </Row>
</Center>
<ChartContainer style="flex-shrink: 0; flex-grow: 1;">
  <ngx-charts-pie-chart
    scheme="cool"
    legendTitle="Countries"
    [results]="data"
    [labels]="showLabels"
    [trimLabels]="trimLabels"
    [legend]="showLegend"
    [legendPosition]="legendPosition"
    (select)="onChartSelect($event)"
    >
  </ngx-charts-pie-chart>
</ChartContainer>
