<Center>
  <BoxedText
    background_color="#04838f"
    text_color="white"
    border_color="#04838f"
    >
    Medals per Country
  </BoxedText>
</Center>
<Center>
  <Row>
    <BoxedText
			border_color="#04838f"
      >
      Number of Olympic Games <br/>
      <b>{{ (olympics$ | async)?.length }}</b>
    </BoxedText>
    <BoxedText
			border_color="#04838f"
      >
      Number of Countries <br/>
      <b>{{ (olympics$ | async)?.length }}</b>
    </BoxedText>
  </Row>
</Center>
<ChartContainer style="flex-shrink: 0; flex-grow: 1;">
  <ngx-charts-pie-chart
    scheme="cool"
    legendTitle="Countries"
    [results]="data"
    [labels]="showLabels"
    [trimLabels]="trimLabels"
    [legend]="showLegend"
    [legendPosition]="legendPosition"
    (select)="onChartSelect($event)"
    >
  </ngx-charts-pie-chart>
</ChartContainer>
